version: "3"

services:

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    network_mode: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.8
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - ./config/promtail:/etc/promtail
      - ./promtail-data:/promtail
    command:
      - -config.file=/etc/promtail/promtail-config.yml
    restart: unless-stopped
